# build artifacts
*.o 
*.out
*.exe
*.a
*.so

# common compiled binaries
a.out
mem_layout
cpu_bound
io_bound
fork_demo
pipe_demo
tcp_echo_server
tcp_echo_client

# editor settings
.vscode/

# OS junk files
.DS_Store